.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: bisque;
  position: fixed;
  top: 0;
  left: 0;
}

.header-title {
  padding-left: 1rem;
}

.box-menu {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
